@using NELCCG.NHSUKFrontend.Razor.Models
@{
    var headerProperties = new HeaderProperties
    {
        Organisation = new Organisation { Name = "NHS North East Lincolnshire", Descriptor = "Clinical Commissioning Group" },
        PrimaryLinks = new Link[]
        {
            new Link { Label = "Content", Url = Url.Action("Index", "Content") },
            new Link { Label = "Form Elements", Url = Url.Action("Index", "Form") },
            new Link { Label = "Navigation", Url = Url.Action("Index", "Navigation") },
            new Link { Label = "SVG Icons", Url = Url.Action("SvgIcons", "Home") },
        },
        ShowNav = true
    };

    var footerProperties = new FooterProperties
    {
        Copyright = "© 2021 NHS North East Lincolnshire",
        Links = new Link[]
        {
            new Link { Label = "Privacy", Url = Url.Action("Privacy", "Home") }
        }
    };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcApp</title>
    <link nhsuk-frontend-version="Version__5_1_0" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
    <vc:header properties="@headerProperties"></vc:header>
    <nhsuk-hero heading="@ViewData["HeroTitle"]" text="@ViewData["HeroMessage"]" image-url="@ViewData["HeroImage"]"></nhsuk-hero>
    @await RenderSectionAsync("PreContent", required: false)
    <div class="nhsuk-width-container">
        <main role="main" id="maincontent" class="nhsuk-main-wrapper">
            @RenderBody()
        </main>
    </div>
    <vc:footer properties="@footerProperties"></vc:footer>
    <script nhsuk-frontend-version="Version__5_1_0"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
