@using SamNHS.NHSUKFrontend.Razor.Models
@{
    var headerProperties = new HeaderProperties
    {
        Organisation = new Organisation { Name = "NHS North East Lincolnshire", Descriptor = "Clinical Commissioning Group" },
        PrimaryLinks = new Link[]
        {
            new Link { Label = "My Feature", Url = Url.Page("/Index", new { Area = "MyFeature" }) },
            new Link { Label = "Form Elements", Url = Url.Action("Form", "Home") },
            new Link { Label = "SVG Icons", Url = Url.Action("SvgIcons", "Home") },
        },
        ShowNav = true
    };

    var footerProperties = new FooterProperties
    {
        Copyright = "© 2021 NHS North East Lincolnshire",
        Links = new Link[]
        {
            new Link { Label = "Privacy", Url = Url.Action("Privacy", "Home") }
        }
    };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcApp</title>
    <link nhsuk-frontend-version="Version__5_1_0" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
    <vc:header properties="@headerProperties"></vc:header>
    @if (ViewData["HeroTitle"] != null)
    {
        <section class="nhsuk-hero">
            <div class="nhsuk-width-container nhsuk-hero--border">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <div class="nhsuk-hero__wrapper">
                            <h1 class="nhsuk-u-margin-bottom-3">@ViewData["HeroTitle"]</h1>
                            @if (ViewData["HeroMessage"] != null)
                            {
                                <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">@ViewData["HeroMessage"]</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    @await RenderSectionAsync("PreContent", required: false)
    <div class="nhsuk-width-container">
        <main role="main" id="maincontent" class="nhsuk-main-wrapper">
            @RenderBody()
        </main>
    </div>
    <vc:footer properties="@footerProperties"></vc:footer>
    <script nhsuk-frontend-version="Version__5_1_0"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
