@using NELCCG.NHSUKFrontend.Razor.Helpers
@using NELCCG.NHSUKFrontend.Razor.TagHelpers
@inject SvgIconHelper iconHelper
@model User
@{
    ViewData["Title"] = ViewData["HeroTitle"] = "Form Elements";
    ViewData["HeroMessage"] = "This is an example of using the tag helpers and the date input helper.";

    var invalidDoB = Model?.DateOfBirth > DateTime.Now;
    var emptySurname = string.IsNullOrWhiteSpace(Model?.Surname);
    var noRole = string.IsNullOrWhiteSpace(Model?.Role);
    var hasErrors = invalidDoB || emptySurname;
}

@section PreContent {
    <nhsuk-breadcrumb>
        <nhsuk-breadcrumb-list>
            <a nhsuk-breadcrumb-item asp-controller="Home">Home</a>
        </nhsuk-breadcrumb-list>
        <a nhsuk-breadcrumb-backlink asp-controller="Home">Go Home</a>
    </nhsuk-breadcrumb>
}

<form method="post">
    @if (hasErrors)
    {
        <nhsuk-error-summary description="The following errors need correcting">
            @if (emptySurname)
            {
                <nhsuk-error-summary-list-item href="#Surname">Surname is required</nhsuk-error-summary-list-item>
            }
            @if (invalidDoB)
            {
                <nhsuk-error-summary-list-item href="#DateOfBirth__Day">Date of birth must be in the past</nhsuk-error-summary-list-item>
            }
            @if (noRole)
            {
                <nhsuk-error-summary-list-item href="#Role">Role is required</nhsuk-error-summary-list-item>
            }
        </nhsuk-error-summary>
    }

    <nhsuk-fieldset>
        <nhsuk-fieldset-legend size="FieldsetLegendTagHelper.LegendSize.Medium" is-page-heading heading-level="2">What is your name?</nhsuk-fieldset-legend>
        <nhsuk-form-group contains-error-message="@emptySurname">
            @if (emptySurname)
            {
                <nhsuk-error-message>Surname is required</nhsuk-error-message>
            }
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <nhsuk-input asp-for="GivenName">
                        <nhsuk-label asp-for="GivenName"></nhsuk-label>
                    </nhsuk-input>
                </div>
                <div class="nhsuk-grid-column-one-half">
                    <nhsuk-input id="Surname" input-error="@emptySurname" asp-for="Surname">
                        <nhsuk-label asp-for="Surname"></nhsuk-label>
                    </nhsuk-input>
                </div>
            </div>
        </nhsuk-form-group>
    </nhsuk-fieldset>

    <nhsuk-fieldset>
        <nhsuk-fieldset-legend size="FieldsetLegendTagHelper.LegendSize.Medium" is-page-heading heading-level="2">What is your role in the NHS?</nhsuk-fieldset-legend>
        <nhsuk-form-group contains-error-message="@noRole">
            <select nhsuk-select asp-for="Role" id="Role">
                <nhsuk-pre-element>
                    <nhsuk-label asp-for="Role" label-is-visually-hidden></nhsuk-label>
                    <nhsuk-hint>
                        Based on the <a href="https://www.nhsemployers.org/articles/national-job-profiles" rel="external">national job profiles</a>.
                    </nhsuk-hint>
                    @if (noRole)
                    {
                        <nhsuk-error-message>No role selected</nhsuk-error-message>
                    }
                </nhsuk-pre-element>
                <option value="">--Select a role--</option>
                <option value="admin">Administrative services</option>
                <option value="ahp">Allied Health Professional</option>
                <option value="emergency">Emergency services</option>
                <option value="healthscience">Health science services</option>
                <option value="nursing">Nursing and midwifery</option>
                <option value="social">Personal social services</option>
                <option value="support">Support services</option>
                <option value="manager">Professional manager</option>
            </select>
        </nhsuk-form-group>
    </nhsuk-fieldset>

    <nhsuk-fieldset>
        <nhsuk-fieldset-legend size="FieldsetLegendTagHelper.LegendSize.Medium" is-page-heading heading-level="2">What is your date of birth?</nhsuk-fieldset-legend>
        <nhsuk-form-group contains-error-message="@invalidDoB">
            <nhsuk-date-input input-error="@invalidDoB" id="DateOfBirth" asp-for="DateOfBirth">
                <nhsuk-label asp-for="DateOfBirth" label-is-visually-hidden></nhsuk-label>
                @if (invalidDoB)
                {
                    <nhsuk-error-message>Date of birth must be in the past</nhsuk-error-message>
                }
            </nhsuk-date-input>
        </nhsuk-form-group>
    </nhsuk-fieldset>

    <nhsuk-fieldset>
        <nhsuk-fieldset-legend size="FieldsetLegendTagHelper.LegendSize.Medium" is-page-heading heading-level="2">What is your favourite colour?</nhsuk-fieldset-legend>
        <nhsuk-form-group>
            <nhsuk-radios contains-conditional>
                <nhsuk-radio asp-for="FavouriteColour" label="Red" value="@("Red")"></nhsuk-radio>
                <nhsuk-radio asp-for="FavouriteColour" label="Green" value="@("Green")"></nhsuk-radio>
                <nhsuk-radio asp-for="FavouriteColour" label="Blue" value="@("Blue")"></nhsuk-radio>
                <nhsuk-radio-divider><span>or</span></nhsuk-radio-divider>
                <nhsuk-radio asp-for="FavouriteColour" label="Other" value="@("Other")" aria-controls="favourite_colour_other"></nhsuk-radio>
                <nhsuk-radio-conditional id="favourite_colour_other" hidden="@(Model?.FavouriteColour != "Other")">
                    <nhsuk-input asp-for="FavouriteColourOther">
                        <nhsuk-label asp-for="FavouriteColourOther" label-is-visually-hidden></nhsuk-label>
                        <nhsuk-hint>Please enter your favourite colour</nhsuk-hint>
                    </nhsuk-input>
                </nhsuk-radio-conditional>
            </nhsuk-radios>
        </nhsuk-form-group>
    </nhsuk-fieldset>

    <nhsuk-fieldset>
        <nhsuk-fieldset-legend size="FieldsetLegendTagHelper.LegendSize.Medium" is-page-heading heading-level="2">What is your nationality?</nhsuk-fieldset-legend>
        <nhsuk-hint>If you have dual nationality, select all options that are relevant to you.</nhsuk-hint>
        <nhsuk-form-group>
            <nhsuk-checkboxes>
                <nhsuk-checkbox asp-for="Nationality" label="British" value="@("british")">
                    <nhsuk-hint>including English, Scottish, Welsh and Northern Irish</nhsuk-hint>
                </nhsuk-checkbox>
                <nhsuk-checkbox asp-for="Nationality" label="Irish" value="@("irish")"></nhsuk-checkbox>
                <nhsuk-checkbox asp-for="Nationality" label="Citizen of another country" value="@("other")"></nhsuk-checkbox>
            </nhsuk-checkboxes>
        </nhsuk-form-group>
    </nhsuk-fieldset>

    <nhsuk-fieldset>
        <nhsuk-fieldset-legend size="FieldsetLegendTagHelper.LegendSize.Medium" is-page-heading heading-level="2">How would you prefer to be contacted?</nhsuk-fieldset-legend>
        <nhsuk-hint>Select all options that are relevant to you.</nhsuk-hint>
        <nhsuk-form-group>
            <nhsuk-checkboxes contains-conditional>
                <nhsuk-checkbox asp-for="ContactPreferences" exclusive-group="communication-preferences" aria-controls="conditional-contact-email" label="Email" value="@("Email")"></nhsuk-checkbox>
                <nhsuk-checkbox-conditional id="conditional-contact-email">
                    <nhsuk-input asp-for="ContactPreferenceEmail">
                        <nhsuk-label>Email address</nhsuk-label>
                    </nhsuk-input>
                </nhsuk-checkbox-conditional>
                <nhsuk-checkbox asp-for="ContactPreferences" exclusive-group="communication-preferences" aria-controls="conditional-contact-phone" label="Phone" value="@("Phone")"></nhsuk-checkbox>
                <nhsuk-checkbox-conditional id="conditional-contact-phone">
                    <nhsuk-input asp-for="ContactPreferenceTelephone">
                        <nhsuk-label>Phone number</nhsuk-label>
                    </nhsuk-input>
                </nhsuk-checkbox-conditional>
                <nhsuk-checkbox asp-for="ContactPreferences" exclusive-group="communication-preferences" aria-controls="conditional-contact-text" label="Text message" value="@("Text message")"></nhsuk-checkbox>
                <nhsuk-checkbox-conditional id="conditional-contact-text">
                    <nhsuk-input asp-for="ContactPreferenceTextMessage">
                        <nhsuk-label>Mobile phone number</nhsuk-label>
                    </nhsuk-input>
                </nhsuk-checkbox-conditional>
                <nhsuk-checkbox-divider><span>or</span></nhsuk-checkbox-divider>
                <nhsuk-checkbox asp-for="ContactPreferences" exclusive exclusive-group="communication-preferences" label="None of the above" value="@("None")"></nhsuk-checkbox>
            </nhsuk-checkboxes>
        </nhsuk-form-group>
    </nhsuk-fieldset>

    <nhsuk-form-group>
        <nhsuk-textarea asp-for="Biography">
            <nhsuk-label asp-for="Biography" size="LabelTagHelper.LabelSize.Medium" is-page-heading heading-level="2"></nhsuk-label>
            <nhsuk-hint>Tell us a little something about yourself</nhsuk-hint>
        </nhsuk-textarea>
    </nhsuk-form-group>

    <nhsuk-button>Submit Button</nhsuk-button>
    <nhsuk-button secondary type="Reset">Reset Button (secondary)</nhsuk-button>
    <nhsuk-button reverse type="Button">Other Button (reverse)</nhsuk-button>

</form>