@{
    ViewData["Title"] = ViewData["HeroTitle"] = "A - Z";
    var character = this.Context.Request.Query["character"];
    if (character.Any())
    {
        ViewData["HeroMessage"] = $"You selected {character}";
    }
}

@section PreContent {
    <nhsuk-breadcrumb>
        <nhsuk-breadcrumb-list>
            <a nhsuk-breadcrumb-item asp-controller="Home" asp-action="Index">Home</a>
            <a nhsuk-breadcrumb-item asp-action="Index">Navigation</a>
        </nhsuk-breadcrumb-list>
        <a nhsuk-breadcrumb-backlink asp-action="Index">Back to Navigation</a>
    </nhsuk-breadcrumb>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <nhsuk-contents-list>
            <nhsuk-contents-list-item text="A - Z" current></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Card" href="@Url.Action("Card")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Contents List" href="@Url.Action("ContentsList")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="List Panel" href="@Url.Action("ListPanel")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Pagination" href="@Url.Action("Pagination")"></nhsuk-contents-list-item>
        </nhsuk-contents-list>
    </div>
    <div class="nhsuk-grid-column-three-quarters">
        <h2>Default A-Z (uses # links)</h2>
        <nhsuk-a-z></nhsuk-a-z>
        <h2>Some characters disabled (uses # links)</h2>
        <nhsuk-a-z disable-characters="JQWXZ"></nhsuk-a-z>
        <h2>Custom characters, uses anchor prefix (updates hero on click)</h2>
        <nhsuk-a-z anchor-prefix="?character=" characters="@("$#?%\"&123ÁÄÊ")"></nhsuk-a-z>
    </div>
</div>