@{
    ViewData["Title"] = ViewData["HeroTitle"] = "Details / Expander";
}

@section PreContent {
    <nhsuk-breadcrumb>
        <nhsuk-breadcrumb-list>
            <a nhsuk-breadcrumb-item asp-controller="Home" asp-action="Index">Home</a>
            <a nhsuk-breadcrumb-item asp-action="Index">Content</a>
        </nhsuk-breadcrumb-list>
        <a nhsuk-breadcrumb-backlink asp-action="Index">Back to Content</a>
    </nhsuk-breadcrumb>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <nhsuk-contents-list>
            <nhsuk-contents-list-item text="Care Card" href="@Url.Action("CareCard")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Details / Expander" current></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Do and Don't Lists" href="@Url.Action("DoDontLists")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Hero" href="@Url.Action("Hero")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Image" href="@Url.Action("Image")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Inset Text" href="@Url.Action("InsetText")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Summary list" href="@Url.Action("SummaryList")"></nhsuk-contents-list-item>
        </nhsuk-contents-list>
    </div>
    <div class="nhsuk-grid-column-three-quarters">
        <nhsuk-details summary="Details hidden">
            <p>Details go here</p>
        </nhsuk-details>

        <nhsuk-details summary="Details shown" open>
            <p>Details go here</p>
        </nhsuk-details>

        <nhsuk-details summary="Styled as expander" expander>
            <p>Details go here</p>
        </nhsuk-details>
    </div>
</div>