@{
    ViewData["Title"] = ViewData["HeroTitle"] = "Table";
}

@section PreContent {
    <nhsuk-breadcrumb>
        <nhsuk-breadcrumb-list>
            <a nhsuk-breadcrumb-item asp-controller="Home" asp-action="Index">Home</a>
            <a nhsuk-breadcrumb-item asp-action="Index">Content</a>
        </nhsuk-breadcrumb-list>
        <a nhsuk-breadcrumb-backlink asp-action="Index">Back to Content</a>
    </nhsuk-breadcrumb>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <nhsuk-contents-list>
            <nhsuk-contents-list-item text="Care Card" href="@Url.Action("CareCard")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Details / Expander" href="@Url.Action("Details")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Do and Don't Lists" href="@Url.Action("DoDontLists")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Hero" href="@Url.Action("Hero")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Image" href="@Url.Action("Image")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Inset text" href="@Url.Action("InsetText")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Summary list" href="@Url.Action("SummaryList")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Table" current></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Tag" href="@Url.Action("Tag")"></nhsuk-contents-list-item>
            <nhsuk-contents-list-item text="Warning callout" href="@Url.Action("WarningCallout")"></nhsuk-contents-list-item>
        </nhsuk-contents-list>
    </div>
    <div class="nhsuk-grid-column-three-quarters">
        <nhsuk-table caption="Plain table caption">
            <nhsuk-table-head>
                <nhsuk-table-cell>Column 1</nhsuk-table-cell>
                <nhsuk-table-cell>Column 2</nhsuk-table-cell>
            </nhsuk-table-head>
            <nhsuk-table-body>
                <nhsuk-table-body-row>
                    <nhsuk-table-cell header-cell>Row 1 Column 1</nhsuk-table-cell>
                    <nhsuk-table-cell>Row 1 Column 2</nhsuk-table-cell>
                </nhsuk-table-body-row>
                <nhsuk-table-body-row>
                    <nhsuk-table-cell colspan="2">The contents of this cell is set up to span two columns</nhsuk-table-cell>
                </nhsuk-table-body-row>
                <nhsuk-table-body-row>
                    <nhsuk-table-cell header-cell rowspan="2">Row 3 and 4 Column 1</nhsuk-table-cell>
                    <nhsuk-table-cell>Row 3 Column 2</nhsuk-table-cell>
                </nhsuk-table-body-row>
                <nhsuk-table-body-row>
                    <nhsuk-table-cell>Row 4 Column 2</nhsuk-table-cell>
                </nhsuk-table-body-row>
            </nhsuk-table-body>
        </nhsuk-table>
        
        <nhsuk-table responsive caption="Responsive table">
            <nhsuk-table-head>
                <nhsuk-table-cell>Column 1</nhsuk-table-cell>
                <nhsuk-table-cell format="numeric">Numeric column</nhsuk-table-cell>
            </nhsuk-table-head>
            <nhsuk-table-body>
                <nhsuk-table-body-row>
                    <nhsuk-table-cell responsive-heading="Column 1">Row 1 Column 1</nhsuk-table-cell>
                    <nhsuk-table-cell responsive-heading="Numeric column" format="numeric">21</nhsuk-table-cell>
                </nhsuk-table-body-row>
                <nhsuk-table-body-row>
                    <nhsuk-table-cell responsive-heading="Column 1">Row 2 Column 1</nhsuk-table-cell>
                    <nhsuk-table-cell responsive-heading="Numeric column" format="numeric">43</nhsuk-table-cell>
                </nhsuk-table-body-row>
                <nhsuk-table-body-row>
                    <nhsuk-table-cell responsive-heading="Column 1">Row 3 Column 1</nhsuk-table-cell>
                    <nhsuk-table-cell responsive-heading="Numeric column" format="numeric">76</nhsuk-table-cell>
                </nhsuk-table-body-row>
            </nhsuk-table-body>
        </nhsuk-table>
        
        <nhsuk-table panel heading="In panel" caption="Also with caption">
            <nhsuk-table-head>
                <nhsuk-table-cell>Column 1</nhsuk-table-cell>
                <nhsuk-table-cell format="numeric">Numeric column</nhsuk-table-cell>
            </nhsuk-table-head>
            <nhsuk-table-body>
                <nhsuk-table-body-row>
                    <nhsuk-table-cell>Row 1 Column 1</nhsuk-table-cell>
                    <nhsuk-table-cell format="numeric">21</nhsuk-table-cell>
                </nhsuk-table-body-row>
                <nhsuk-table-body-row>
                    <nhsuk-table-cell>Row 2 Column 1</nhsuk-table-cell>
                    <nhsuk-table-cell format="numeric">43</nhsuk-table-cell>
                </nhsuk-table-body-row>
                <nhsuk-table-body-row>
                    <nhsuk-table-cell>Row 3 Column 1</nhsuk-table-cell>
                    <nhsuk-table-cell format="numeric">76</nhsuk-table-cell>
                </nhsuk-table-body-row>
            </nhsuk-table-body>
        </nhsuk-table>
    </div>
</div>