@using SamNHS.NHSUKFrontend.RazorComponents.Models
@model FooterProperties
@{
    var footerClasses = new List<string> { "nhsuk-footer" };
    if (Model.CssClasses != null) {
        footerClasses.AddRange(Model.CssClasses);
    }
    var footerListClasses = new List<string> { "nhsuk-footer__list" };
    if (Model.ListCssClasses != null) {
        footerListClasses.AddRange(Model.ListCssClasses);
    }
}

<footer role="contentinfo">
    <div class="@string.Join(" ", footerClasses.ToArray())">
        <div class="nhsuk-width-container">
            @if (Model.Links != null && Model.Links.Any()) {
                @if (!string.IsNullOrWhiteSpace(Model.A11yHeading)) {
                    <h2 class="nhsuk-u-visually-hidden">@Model.A11yHeading</h2>
                }
                <ul
                    class="@string.Join(" ", footerListClasses.ToArray())">
                    @foreach(var link in Model.Links) {
                        <li class="nhsuk-footer__list-item">
                            <a
                                class="nhsuk-footer__list-item-link"
                                href="@link.Url">@link.Label</a>
                        </li>
                    }
                </ul>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Copyright)) {
                <p class="nhsuk-footer__copyright">@Model.Copyright</p>
            }
        </div>
    </div>
</footer>